<%- include header %>
<p>CartPos1:  <%=parseInt(resx[1]*1000)%> </p>
<p>CartPos2:  <%=parseInt(resy[1]*1000)%> </p>
<p>CartPos3:  <%=parseInt(resz[1]*1000)%> </p>
<p>CartPos4:  <%=parseInt(resrx[1]*180/3.14)%> </p>
<p>CartPos5:  <%=parseInt(resry[1]*180/3.14)%> </p>
<p>CartPos6:  <%=parseInt(resrz[1]*180/3.14)%> </p>
