<%- include header %>
<p>Joint1:  <%=parseInt(Joint[0]*180/3.14)%> </p>
<p>Joint2:  <%=parseInt(Joint[1]*180/3.14)%> </p>
<p>Joint3:  <%=parseInt(Joint[2]*180/3.14)%> </p>
<p>Joint4:  <%=parseInt(Joint[3]*180/3.14)%> </p>
<p>Joint5:  <%=parseInt(Joint[4]*180/3.14)%> </p>
<p>Joint6:  <%=parseInt(Joint[5]*180/3.14)%> </p>